body{
    margin: 0;
    padding: 0;

    background-color: aquamarine;
}

main{

}

img{
    width: 50%;
}

nav{
    background-color: chocolate;
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav > p{
    width: 25%;
    display: flex;
    justify-content: center;
}
