@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

nav{
    background-color: palevioletred;
}

ul{
    margin: 0;
    padding: 0;
    font-size: 0;
}

li{
    list-style: none;
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 20px 0;
    font-size: medium;
}

a{
    text-decoration: none;
}

header{
    box-sizing: border-box;
    background: linear-gradient(to bottom right, rgb(208, 138, 138), rgb(147, 196, 147), yellow);
    padding: 60px 0;
    text-align: center;
    margin: 10px auto;
    width: 75%;

    font-size: clamp(12px, 4vw, 36px);
}

main{
    width: 75%;
    margin: 0 auto;
    height: 70vh;
}

main > div {
    font-size: medium;
    width: calc(100%/3);
    float: left;
    text-align: justify;
    box-sizing: border-box;
    padding: 15px;
}

footer{
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: lavender;

    clear: both;
}

nav, footer{
    height: 15vh;
    min-height: 50px;
    max-height: 75px;
}