@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');


h1{
    font-family: "Exo 2", sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 15px auto;
}


h2{
    color: red;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    padding: 10px;
    width: 75%;
    margin: 40px auto;
    text-align: center;
    padding: 15px 0;
}

a {
    text-decoration: none;
}

li{
    list-style-type: lower-greek;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #A5D8FF, #FFC9C9);
}

#bienvenidaPrimeraPractica{
    background-color: rgba(6, 31, 190, 0.856);
    color: rgb(254, 254, 78);
}

.fonsGris {
    background-color: lightgray;
}

.texteClar{
    color: whitesmoke;
}

img {
    border-width: 8px;
    border-color: red; 
    border-style: solid;
    transition: opacity 1s;
    width: 75%;
    border-radius: 15px;

}

img:hover{
    opacity: 50%;
    border-color: blue; 
}

th.fonsGris{
    background-color: rgb(106, 106, 106);
}

th.fonsGris:hover{
    background-color: rgb(24, 116, 141);
}


tbody .fonsVermell {
    background-color: darkred;
}

.meitat{
    width: 60%; 
}

.centrat{
    text-align: center;
}

td, th, table{
    border: 2px solid black;
}

td {
    padding: 10px 5px;
}

table{
    border-collapse: collapse;
}

.textoRandom{
    background-color: yellow;
    border: 3px solid white;
    width: 100px;
    display: inline-block;
}

#divTexto{
    width: 50%;
    height: 50px;
    margin: 10px;
    text-align: center;
    background-color: fuchsia;
    float: inline-start;
}

.flota{
    box-sizing: border-box;
    margin: 1%;
    float: left;
    padding: 5px;
    border: 3px solid black;
    width: 30%;
    height: 100px;
}

.wrapper{
    width: 100%;
}

.clear{
    clear: both;
}

#pregunta{
    position: absolute;
    bottom: 20px;
    right: 10px;
}

header{
    border: 1px solid black;
    position: relative;
}

#gitHub{
    position: sticky;
    top: 10px;
}